.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
}
.header {
  flex: 20%;
  background-color: tomato;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .inputContainer {
  display: flex;
  flex-direction: row;
}
.header select {
  width: 8vw;
  height: 40px;
  border: none;
  border-radius: 8px;
  padding-right: 10px;
  margin: 5px;
  padding-left: 10px;
}
.header textarea {
  width: 60vw;
  height: 40px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;

}
.header label {
  color: aliceblue;
  margin: 8px;
}
.header button {
  width: 70px;
  height: 40px;
  background-color: yellow;
  border: none;
  font-weight: bold;
  color: tomato;
  border-radius: 8px;
  cursor: pointer;
}
.translation {
  flex: 70%;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: lightyellow;
}

.translation .translationBox {
  display: flex;
  min-height: 10px;
  width: 70vw;
  margin: 10px;
  border-radius: 8px;
  border-color: black;
  background-color: white;
}